

.slider {
  max-width: 800px;
  margin: 35px auto;
  position: relative;
}
.slider-next,
.slider-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}
.slider-next {
  right: -25px;
}
.slider-prev {
  left: -25px;
}
.slider-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
 
}
.slider-dots li {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #999;
  cursor: pointer;
  transition: background-color 0.4s linear;
}
.slider-dots li.active {
  background-color: white;
}
.slider-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.slider-main {
  display: flex;
  position: relative;
  transition: transform 0.25s linear;
  height: 100%;
}
.slider-item {
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
  user-select: none;
}
.slider-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* slider-1 */




.slider_1{
 
  max-width: 1050px;
  margin: 25px auto;
  position: relative;
  top:150px;
  left: 0px;
}
.slider-next_1,
.slider-prev_1 {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background-color: rgba(100, 100, 111, 0.2);

  cursor: pointer;
  font-size: 20px;
  z-index: 3;
}
.slider-next_1 {
  right: -45px;
}
.slider-prev_1 {
  left: -60px;
}
.slider-dots_1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 3;
  
}
.slider-dots_1 li {
  margin: 0 10px;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #999;
  cursor: pointer;
  transition: background-color 0.25s linear;
}
.slider-dots_1 li.active {
  background-color: white;
}
.slider-wrapper_1 {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.slider-main_1 {
  display: flex;
  position: relative;
  transition: transform 0.5s linear;
  height: 100%;
  z-index: 3;
}
.slider-item-1 {

  margin-right: 35px;
  height: 450px;
  width: 30%;
  flex: 1 0 30%;
  user-select: none;
  background-color: white;
  color: black;
  

}
.slider-item-1 img {
  width: 100%;
  height: 100;
  object-fit: cover;
  
}
 /* chân trang */
.footer{
  margin-top: 45px;
  width: 100%;
  height: 300px;
  border-top: 5px solid #C2002F;
  color: black;
  box-shadow: 0 4px 2px -2px #ccc
}

.row .item-1 {
padding-left: 45px;
padding-top: 20px;

}
.row{
  padding-top: 20px;
}
.row img{
  width: 100%;
  margin-bottom: 10px;
}
.item-2 i{
  color: white;

  border-radius: 55px;
  font-size: 20px;
}
.item-2{
 
}
 .item-2 .facebook{
  padding:12px 15px;
  background-color: rgb(74, 74, 248);
}
.item-2 .twitter 
{
  background-color: rgb(73, 164, 238);
  padding:12px 12px;
  margin:10px 0;
}
.item-2 .instagram
{
  background-color: rgb(241, 45, 153);
  padding:13px 13px;
  margin-bottom:  10px ;
}
.item-2 .youtube{
  background-color: rgb(248, 28, 28);
  padding:12px 12px;
}
.footer .row .item-3{
  color: white;
  background-color:#f02255;
  width: 100px !important;
  height: 200px;
  margin-left: 70px;
  margin-top: 10px;
}
.footer .row .item-3 a{
  color: white;
}
.footer .row .item-3 button{
  padding:10px ;
  background-color: #45403C;
  color: white;
}
/* web 2  */
.catalog{
  width: 100%;
  height: 500px;
  background: url(../images/catalog_search.jpg);
  background-size:auto;
  background-position: top center;
  position: relative;
  z-index: 1;
}
.catalog::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-color: #00567E;
  opacity: 0.9;
}

.catalog_content{
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(50%);
  transform: translateY(25%);
  z-index: 3;
}
.catalog_content  h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  text-transform: capitalize;
}

.catalog_content form{
  display: flex;
  width: 50%;
  
  transform: translateX(50%);

}
.catalog_content form button{
 font-size: 22px;
  padding: 0px 30px;
  

}
